<div class="jumbotron">

  <p class="lead">
    <img src="images/vibekiller1.png" alt="Sinister looking ringmaster cracking a whip" height= 48% width= 48% align=left><br>
      <h1>Pardon,</h1>
    <h1>What vibe are you on?</h1>
  </p>
</div>

<div class="container">
  <!-- Example row of columns-->
<!--  <div class="row">
    <div class="col-md-6 vibes">
      <h2>Happy</h2>

      <p><p><a ng-href="#!/happy" class="btn btn-lg btn-primary"><img src="images/happyclowny.png" alt="Image of happy looking clown" height= 103.84px width= 150px> </a></p>
          <p><a class="btn btn-default view-details" role="button">View details &raquo;</a></p>

    </div>
    <div class="col-md-6 vibes">
      <h2>Sad</h2>

      <p><a ng-href="#!/sad" class="btn btn-lg btn-primary"><img src="images/sadclowny.png" alt="Image of sad looking clown"height= 103.84px width= 150px> </a></p>
          <p><a class="btn btn-default view-details"  role="button">View details &raquo;</a></p>

</div>
   <div class="row">
     <div class="col-md-6 vibes">
       <h2>Angry</h2>

       <p><p><a ng-href="#!/angry" class="btn btn-lg btn-primary"><img src="images/angryclowny.png" alt="Image of angry looking clown"height= 103.84px width= 150px> </a></p>
           <p><a class="btn btn-default view-details" role="button">View details &raquo;</a></p>

     </div>
     <div class="col-md-6 vibes">
       <h2>Festive</h2>

       <p><a ng-href="#!/festive" class="btn btn-lg btn-primary"><img src="images/drunkclowny.png" alt="Image of drunk looking clown" height= 103.84px width= 150px> </a></p>
           <p><a class="btn btn-default view-details"  role="button">View details &raquo;</a></p>

    </div>
  </div>-->

  <div class="container">
  <div class="row">

                <div class="item col-xs-3 col-sm-3 col-md-3 col-lg-3" style="float:left">

                  <h2>Happy</h2>

                  <p><p><a ng-href="#!/happy">
                    <img class="img-responsive" src="images/happyclowny.png" /></a>
                </div>
                <div class="item col-xs-3 col-sm-3 col-md-3 col-lg-3" style="float:left">
                  <h2>Sad</h2>

                  <p><p><a ng-href="#!/sad">
                    <img class="img-responsive" src="images/sadclowny.png" /></a>
                </div>
                <div class="item col-xs-3 col-sm-3 col-md-3 col-lg-3" style="float:left">
                  <h2>Angry</h2>

                  <p><p><a ng-href="#!/angry">
                    <img class="img-responsive" src="images/angryclowny.png" /></a>
                </div>
                <div class="item col-xs-3 col-sm-3 col-md-3 col-lg-3" style="float:left">
                  <h2>Festive</h2>

                  <p><p><a ng-href="#!/festive">
                    <img class="img-responsive" src="images/drunkclowny.png" /></a>
                </div>
            </div>
</div>
