<div class="jumbotron">
  <h1>Pardon,</h1>
  <p class="lead">
    <img src="images/vibekiller1.png" alt="Sinister looking ringmaster cracking a whip" height= 60% width= 60%><br>
    <h1>What vibe are you on?</h1>
  </p>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6 vibes">
      <h2>Happy</h2>

      <p><p><a ng-href="#!/happy" class="btn btn-lg btn-primary"><img src="images/happyclowny.png" alt="Image of happy looking clown" height= 225px width= 325px> </a></p>
          <p><a class="btn btn-default view-details" role="button">View details &raquo;</a></p>

    </div>
    <div class="col-md-6 vibes">
      <h2>Sad</h2>

      <p><a ng-href="#!/sad" class="btn btn-lg btn-primary"><img src="images/sadclowny.png" alt="Image of sad looking clown"height= 225px width= 325px> </a></p>
          <p><a class="btn btn-default view-details"  role="button">View details &raquo;</a></p>

   </div>
   <div class="row">
     <div class="col-md-6 vibes">
       <h2>Angry</h2>

       <p><p><a ng-href="#!/angry" class="btn btn-lg btn-primary"><img src="images/angryclowny.png" alt="Image of angry looking clown"height= 225px width= 325px> </a></p>
           <p><a class="btn btn-default view-details" role="button">View details &raquo;</a></p>

     </div>
     <div class="col-md-6 vibes">
       <h2>Festive</h2>

       <p><a ng-href="#!/festive" class="btn btn-lg btn-primary"><img src="images/drunkclowny.png" alt="Image of drunk looking clown" height= 225px width= 325px> </a></p>
           <p><a class="btn btn-default view-details"  role="button">View details &raquo;</a></p>

    </div>
  </div>
