<div class="jumbotron">
  <h1>Pardon,</h1>
  <p class="lead">
    <img src="images/payday.jpg" alt="I'm Yeoman" height= 50% width= 50%><br>
    What vibe are you on?
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6 vibes">
      <h2>Happy</h2>

      <p><p><a ng-href="#!/happy" class="btn btn-lg btn-primary"><img src="images/happyclownmask.png" height= 225px width= 225px> </a></p>
          <p><a class="btn btn-default view-details" role="button">View details &raquo;</a></p>

    </div>
    <div class="col-md-6 vibes">
      <h2>Sad</h2>

      <p><a ng-href="#!/sad" class="btn btn-lg btn-primary"><img src="images/sadclown.png" height= 225px width= 225px> </a></p>
          <p><a class="btn btn-default view-details"  role="button">View details &raquo;</a></p>

   </div>

  </div>
